.hidden{opacity: 0; transition: all 1.5s; filter: blur(5px); padding-bottom: 10em;} .show{opacity: 1;filter: blur(0px); padding-bottom: 10em;}
@font-face {
    font-family: monoT;
    src: url(Sources/Fonts/edunline.ttf);
}
@font-face {
    font-family: monoP;
    src: url(Sources/Fonts/ProggySquare.ttf);
}

*{
    color: aliceblue;
}
body{
    background-color: rgb(15, 15, 15);
}
h1{
    color: #9d2a2a;
    font-size: 50px;
    font-family: monoT;
}
p{
    font-size: 20px;
    font-family: monoP;
}

#body{
    max-width: 36em;
    margin: 4.8em auto;
    padding: 25px;
    text-align: justify;
}